/* #screen {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
} */

/* Pixel Font to use for game score display etc... 
/* font-family: 'Press Start 2P', cursive; */
/* We will need a new grid set for the actual game screen dimensions of 892x602 */ 
img{
    height: 175px;
}
/* We will need a new grid set for the actual game screen dimensions of 892x602 */
/* * {
    border-style: solid;
    border-width: 1px;
    border-color: red;
} */
#screen-area {
    background-image: url('/images/main-map-bg.jpg');
    background-repeat: no-repeat;
    height: 602px;
    width: 900px;
    display: flex;  
    justify-content: center; 
    align-items: center;
    border-radius: 8px;    
}
span {
margin: 20px
}
#screen-area:hover{
     cursor:url('/images/cursor-back.png'), auto;
}
/* #game-play-area {
    display: flex;
    justify-content: center;
    position: fixed;
    min-height: 720px;
    background-image: url("/images/gameboy.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center top;
    z-index: 10; 
    align-items: center;
} */
#root {
    display: flex;
    background-image: url('/images/gameboy.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 85%;
    height: 800px;
    align-items: center;
    justify-content: center
    
}
#button-area{
    width: 600px;
}
#button-template span {
    z-index: 9;
    height: 602px;
    width: 892px;
}

#screen-area {
    z-index: 8;
}

#dialog-area {
    z-index: 11;
}

#Lewis {
    padding-top: 200px;
}

#game-nav-bar {
    min-height: 30px;
    background: #EFEB3E;
}

#game-nav-bar li {
    text-decoration: none;
    display: inline-block; 
    font-family: Arial, Helvetica, sans-serif;
    color: #39499B;

}


