body {
    background-color: rgb(132, 130, 139);
}
img{
    height: 175px;
}
#heart-area {
    display: block;
    top: 20px;
    position: absolute;
    left: 350px;


}
.heart {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: black;

}

#screen-area {
    background-image: url('https://orange-diamond.github.io/Alchemon/images/main-map-bg.jpg');
    background-repeat: no-repeat;
    height: 602px;
    width: 880px;
    display: flex;  
    justify-content: center; 
    align-items: center;
    margin-top: 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;    
}
#map-refresh {
    height: 40px;
    border-radius: 40px;
    background-color: rgba(22, 175, 111, 0.959);
    border-width: 0px;
    box-shadow: 5px 3px black;
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 0, 0);
    width: 80px;
    margin-bottom: 20px;
}
a {
    text-align: center;
    padding: 15px;
    height: 30px;
    width: 130px;
    background-color: rgb(255, 242, 53);
    color: black;
    box-shadow: 5px 3px black;
    border-radius: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    text-decoration: none;
    margin: 10px;
}
span {
margin: 20px
}
#screen-area:hover{
     cursor:url('https://orange-diamond.github.io/Alchemon/images/cursor-back.png'), auto;
}
#dialogue{
    background-color: black;
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
    color: #EFEB3E;
    width: 500px;
    font-size: 30px;
    height: 120px;
    text-align: center;
    padding-top: 20px;
    margin: 5px;
}
#root {
    display: flex;
    flex-flow: column;
    background-image: url('https://orange-diamond.github.io/Alchemon/images/gameboy.png'); 
    background-position: 50%;
    background-repeat: no-repeat;
    align-items: center; 
    margin-bottom: 10px;

}
#button-area{
    width: 600px;
}
#button-template span {
    z-index: 9;
    height: 602px;
    width: 892px;
}

#Lewis {
    padding-top: 200px;
}

#game-nav-bar li {
    text-decoration: none;
    display: inline-block; 
    font-family: Arial, Helvetica, sans-serif;
    color: #39499B;

}


