
/* 
label > input {
    visibility: hidden;
    position: absolute;
}

label > input + img {
    cursor: pointer;
    border: 2px solid transparent;
}

label > input:checked + img {
    border: 2px solid #f00;
}

#lab-screen-area {
    background-image: url('/images/lab-interior.jpg');
    background-repeat: no-repeat;
    height: 602px;
    width: 900px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 8px;
} */
/* Mariah Styles above this line, Carrie styles below */

body {
    background-color: black;
    min-height: 900px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: #EFEB3E;
}

p {
    font-family: 'Press Start 2P', cursive;
    color: #FFF;
    max-width:450px;
    line-height: 1.5em;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    color: #EFEB3E;
    max-width: 450px;
}

#intro-text {
    float: right;
    padding-top: 10%;
    margin-right: 20%;
}

#intro-bg {
    float: left;
}

#entry-form {
    color: white;
}

.character-selector input {
    margin:0;
    padding: 0;
    appearance: none;
}

.alchemon-selector {
    background-image: url('/images/alcheball.png');
}

.alchemon-selector {
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;
    height:80px;
   
}

/* SITE FOOTER */

.footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #39499B;
}

.footer a {
    float: left;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.footer a:hover {
    color: #FF7546;
}

.footer a:active {
    color: #ff7546;
}

