#text-and-input {
    display: flex; 
    padding-top: 10%; 
    justify-content: space-around;
}

#trainer-form, #intro-text {
    border-style: double;
    border-width: 15px;
    border-radius: 25px;
    border-color: white;
    padding: 2%;
}

#trainer-form {
    margin-left: 1%;
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
    color: #EFEB3E;
}

h2 {
    font-size: 20px; 
    max-width: 450px;
    line-height: 1.5em;
}

body {
    background-color: black;
}

p {
    font-family: 'Press Start 2P', cursive;
    color: #FFF;
    max-width:450px;
    line-height: 1.5em;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    color: #EFEB3E;
    max-width: 450px;
}

.character-selector input {
    margin:0;
    padding: 0;
}

.alchemon-selector {
    background-image: url('/images/alcheball.png');
}

.alchemon-selector {
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;
    height:80px;
   
}

#intro-bg {
    float: left;
}

#entry-form {
    color: white;
}

